body{
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    margin-top: 75px;
}

.navbar{
    background-color: rgb(16, 111, 253);
}

.bold {
    font-size: medium;
    font-weight: bold;
}

.cari{
    background-color: rgb(16, 111, 253);
}

.footer-atas{
    background-color: rgb(23, 136, 250);
}

.footer-bawah{
    background-color: rgb(16, 111, 253);
    font-weight: bold;
}

.slide{
    border-radius: 15px;
}

.history{
    border-radius: 15px;
}

.pilih-brand img {
    max-height: 50px;
    text-align: center;
}

.pilih-brand .card {
    height: 100%;
    border-radius: 15px;
}

.products .card {
    border-radius: 15px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb .active {
    font-weight: bold;
    color: black;
}

.btn {
    border-radius: 10px;
}

.jumbotron {
    border-radius: 15px;
}

.gambar-product {
    background-color: #e8e8e8;
    border-radius: 20px;
    border-width: 0;
}