body{
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    margin-top: 75px;
}

.navbar{
    background-color: rgb(16, 111, 253);
}

.bold {
    font-size: medium;
    font-weight: bold;
}

.cari{
    background-color: rgb(16, 111, 253);
}

.footer-atas{
    background-color: rgb(23, 136, 250);
}

.footer-bawah{
    background-color: rgb(16, 111, 253);
    font-weight: bold;
}

.slide{
    border-radius: 15px;
}

.history{
    border-radius: 15px;
}

.pilih-brand img {
    max-height: 40px;
    text-align: center;
}

.pilih-brand .card {
    height: 100%;
    border-radius: 15px;
}

.products .card {
    border-radius: 15px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb .active {
    font-weight: bold;
    color: black;
}

.btn {
    border-radius: 10px;
}

.jumbotron {
    border-radius: 15px;
}

.gambar-product {
    background-color: #e8e8e8;
    border-radius: 20px;
    border-width: 0;
}

.max {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

nav ul li a{
    border-bottom: 1px solid rgb(16, 111, 253);
}

nav ul li a.active{
    border-bottom: 1px solid white;
}

.navbar-brand {
    font-size: 25px;
    font-style: italic;
    font-family: 'Anton', sans-serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.gambar {
    height: 100px;
}

.table tr {
    cursor: pointer;
}
.hiddenRow {
    padding: 0 4px !important;
    background-color: #ebebeb;
    font-size: 13px;
}
.accordian-body span{
    color:#a2a2a2 !important;
}

.btn:hover{
    text-decoration: none;
}